body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:100vh;
    margin:0;
    padding:0;
    font-family: 'Outfit', sans-serif;
}
.qr-card img{
    width:18vw;
}
.qr-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    width: 18vw;
    height: fit-content;
    padding: 1%;
    border-radius: 20px;
    text-align: center;
}
h1{
    font-size: 22px;
}