body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:100vh;
}
.qr-card img{
    width:20vw;
}
.qr-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    width: 20vw;
    height: fit-content;
    padding: 1%;
    border-radius: 20px;
    text-align: center;
}